.row {
    background-color: #FAF9F6
}

body {

    background-color: #FAF9F6;    
    color: #2b2b2b;

}

h1 {
    color: #2b2b2b;

    font-family: 'Lato', sans-serif;
}

.grid-container {
    display: grid;
}